<form class="form-inline container" role="form">
  <div class="row">
    <div class="form-group col-xs-3">
      <select class="form-control" id="ticketType" placeholder="Ticket Type">
        <option value="">Kids Go Free</option>
        <option value="">Father Christmas Sleepover</option>
      </select>
    </div>
    <div class="form-group col-xs-3">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="date" class="form-control" id="exampleInputEmail2" placeholder="Date?">
      </div>
    </div>
    <div class="form-group col-xs-2">
      <div class="input-group">
        <span class="input-group-btn"><button class="btn btn-default" type="button">&minus;</button></span>
        <input type="text" class="form-control" placeholder="Nights">
        <span class="input-group-btn"><button class="btn btn-default" type="button">&plus;</button></span>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </div>
</form>