<form class="form-inline form-booking offcanvas offcanvas-right offcanvas-book" role="form">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar_section navbar_section-menu">
		</div>
		<div class="navbar_section navbar_section-logo">
		</div>
		<div class="navbar_section navbar_section-book">
			<button class="btn btn-blank do_open" data-open=".offcanvas-book" type="button">Back</button>
		</div>
	</nav>
	<div class="container">
		<div class="form_group">
			<select class="btn btn-default group_item group_item-select" id="ticketType" placeholder="Ticket Type">
				<option value="">Kids Go Free</option>
				<option value="">Father Christmas Sleepover</option>
			</select>
		</div>
		<div class="form_group">
			<label class="visible-xs group_item" for="">Pick your date:</label>
			<button type="button" class="btn btn-default group_item group_item-suffix do_open" id="parkDate" data-open=".offcanvas-datepicker">2nd December <i class="fa fa-calendar"></i></button>
		</div>
		<div class="form_group form_group-suffix">
			<label type="text" class="group_item" placeholder="Nights">2 Nights</label>
			<div class="group_item group_item-suffix">
				<button class="btn btn-default" type="button">&minus;</button>
				<button class="btn btn-default" type="button">&plus;</button>
			</div>
		</div>
		<div class="form_group form_group-party">
			<button class="btn btn-default group_item do_open" type="button" data-open=".offcanvas-partycomp">2 Adults &amp; 2 Children</button>
		</div>
		<div class="form_group form_group-action">
			<button type="submit" class="btn btn-primary group_item pull-right">Search <i class="fa fa-search"></i></button>
		</div>
	</form>


	<div class="offcanvas_level offcanvas-datepicker">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar_section navbar_section-menu">
			</div>
			<div class="navbar_section navbar_section-logo">
			</div>
			<div class="navbar_section navbar_section-book">
				<button class="btn btn-blank do_open" data-open=".offcanvas-datepicker" type="button">Back</button>
			</div>
		</nav>
	</div>


	<div class="offcanvas_level offcanvas-partycomp">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar_section navbar_section-menu">
			</div>
			<div class="navbar_section navbar_section-logo">
			</div>
			<div class="navbar_section navbar_section-book">
				<button class="btn btn-blank do_open" data-open=".offcanvas-partycomp" type="button">Done</button>
			</div>
		</nav>
		<div class="container">
			<div class="form_group form_group-suffix">
			<label type="text" class="group_item">2 Adults</label>
			<small class="group_item group_item-description">Older than 16yrs</small>
				<div class="group_item group_item-suffix">
					<button class="btn btn-default" type="button">&minus;</button>
					<button class="btn btn-default" type="button">&plus;</button>
				</div>
			</div>
			<div class="form_group form_group-suffix">
				<label type="text" class="group_item">2 Children</label>
				<small class="group_item group_item-description">Between 3yrs and 11yrs </small>
				<div class="group_item group_item-suffix">
					<button class="btn btn-default" type="button">&minus;</button>
					<button class="btn btn-default" type="button">&plus;</button>
				</div>
			</div>
			<div class="form_group form_group-suffix">
				<label type="text" class="group_item">0 Young Adults</label>
				<small class="group_item group_item-description">Between 12yrs and 15yrs</small>
				<div class="group_item group_item-suffix">
					<button class="btn btn-default" type="button">&minus;</button>
					<button class="btn btn-default" type="button">&plus;</button>
				</div>
			</div>
			<div class="form_group form_group-suffix">
				<label type="text" class="group_item">0 Infants</label>
				<small class="group_item group_item-description">Between 2yrs and 3yrs</small>
				<div class="group_item group_item-suffix">
					<button class="btn btn-default" type="button">&minus;</button>
					<button class="btn btn-default" type="button">&plus;</button>
				</div>
			</div>
			<div class="form_group form_group-suffix">
				<label type="text" class="group_item">0 Babies</label>
				<small class="group_item group_item-description">Younger than 2yrs</small>
				<div class="group_item group_item-suffix">
					<button class="btn btn-default" type="button">&minus;</button>
					<button class="btn btn-default" type="button">&plus;</button>
				</div>
			</div>
		</div>
	</div>

</div>