<nav class="navbar navbar-default navbar-fixed-top navbar-header" role="navigation">
	<div class="navbar_section navbar_section-menu navbar_border-right">
		<button class="btn btn-blank do_open" data-open=".offcanvas-menu">Menu</button>
	</div>
	<div class="navbar_section navbar_section-logo">
		<a href="{{ site.baseurl }}/"><img src="http://www.chessington.com/images/common/logos/cwoa-header-logo.png" alt=""></a>
	</div>
	<div class="navbar_section navbar_section-book navbar_border-left">
		<button class="btn btn-blank do_open visible-xs" data-open=".offcanvas-book">Book</button>
		<a class="hidden-xs headInfo">
			<div class="headInfo_tel">0835 934 9348</div>
			<small class="headInfo_code">Agent Code: CCP01</small>
		</a>
	</div>
</nav>

<nav class="navbar-links offcanvas offcanvas-left offcanvas-menu">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar_section navbar_section-menu">
			<button class="btn btn-blank do_open" data-open=".offcanvas-menu">Back</button>
		</div>
		<div class="navbar_section navbar_section-logo">
		</div>
		<div class="navbar_section navbar_section-book">
		</div>
	</nav>
<!-- 	<ul>
		{% for page in site.pages %}
			<li><a href="{{ site.baseurl}}/{{ page.permalink }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul> -->

	<ul>
		<li class="navbar_link"><a href="/">HOME</a></li>
		<li class="navbar_link">
			<a class="do_open" data-open="#dropdown-offers">OFFERS</a>
			<ul id="dropdown-offers" class="dropdown_menu">
				<li><a href="/offers/early-booking-offer.html">Save up to 30%</a></li>
			</ul>
		</li>
		<li class="navbar_link">
			<a class="do_open" data-open="#dropdown-hotels">HOTELS</a>
			<ul id="dropdown-hotels" class="dropdown_menu">
				<li><a href="/hotels/chessington-safari-hotel.html">Safari Resort Hotel</a></li>
				<li><a href="/hotels/chessington-azteca-hotel.html">Azteca Resort Hotel</a></li>
				<li><a href="/hotels.html">Hotels near Chessington</a></li>
			</ul>
		</li>
		<li class="navbar_link">
			<a class="do_open" data-open="#dropdown-events">EVENTS</a>
			<ul id="dropdown-events" class="dropdown_menu">
				<li><a href="#">Wild Winter Adventures</a></li>
			</ul>
		</li>
		<li class="navbar_link"><a href="#">MANAGE BOOKING</a></li>	
	</ul>
</nav>