<nav class="navbar navbar-default navbar-fixed-top navbar-header" role="navigation">
	<div class="navbar_section navbar_section-menu">
		<button class="btn btn-blank do_open" data-open=".offcanvas-menu">Menu</button>
	</div>
	<div class="navbar_section navbar_section-logo">
		<img src="http://www.chessington.com/images/common/logos/cwoa-header-logo.png" alt="">
	</div>
	<div class="navbar_section navbar_section-book">
		<button class="btn btn-blank do_open" data-open=".offcanvas-book">Book</button>
	</div>
</nav>

<nav class="navbar-links offcanvas offcanvas-menu">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar_section navbar_section-menu">
			<button class="btn btn-blank do_open" data-open=".offcanvas-menu">Back</button>
		</div>
		<div class="navbar_section navbar_section-logo">
		</div>
		<div class="navbar_section navbar_section-book">
		</div>
	</nav>
	<ul>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
	</ul>
</nav>

