<nav class="navbar navbar-default navbar-fixed-top navbar-header" role="navigation">
	<div class="navbar_section navbar_section-menu navbar_border-right">
		<button class="btn btn-blank do_open" data-open=".offcanvas-menu">Menu</button>
	</div>
	<div class="navbar_section navbar_section-logo">
		<a href="{{ site.baseurl }}/"><img src="http://www.chessington.com/images/common/logos/cwoa-header-logo.png" alt=""></a>
	</div>
	<div class="navbar_section navbar_section-book navbar_border-left">
		<button class="btn btn-blank do_open" data-open=".offcanvas-book">Book</button>
	</div>
</nav>

<nav class="navbar-links offcanvas offcanvas-left offcanvas-menu">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar_section navbar_section-menu">
			<button class="btn btn-blank do_open" data-open=".offcanvas-menu">Back</button>
		</div>
		<div class="navbar_section navbar_section-logo">
		</div>
		<div class="navbar_section navbar_section-book">
		</div>
	</nav>
<!-- 	<ul>
		{% for page in site.pages %}
			<li><a href="{{ site.baseurl}}/{{ page.permalink }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul> -->
	<ul>
		<li><a href="">Hotels</a></li>
		<li><a href="/chessington/offers/early-booking-offer-new">Offers</a></li>
		<li><a href="/chessington/events/chessington-father-christmas-sleepovers">Events</a></li>
		<li><a href="">Manage Booking</a></li>
	</ul>
</nav>