<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/default.css">
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/logic.js"></script>
<!-- <script src="http://chessingtonholidays.merlinbreaks.co.uk/js/general/jquery.ui.datepicker.1.10.3.min.1383727424.js"></script> -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>