.form-booking{
	// .btn{
	// 	height: auto;
	// 	width: auto;
	// 	border: 1px solid black;
	// 	padding: 0;
	// }
	label{
	}
}

.form_group{
	position: relative;
	margin: 10px 0;
	display: inline-block;
	float: left;
	width: 100%;
}

.group_item{
	float: left;
	&-suffix{
		float: right;
	}
	&-select{
		width: auto;
		height: 32px;
	}
	&-description{
		position: absolute;
		bottom: 0px;
		left: 0;
		font-size: 0.7em;
	}
	&-label{
		line-height: 2em;
		margin-right: 10px;
	}
}

.btn-stepper{
	height: 24px;
	width: 24px;
	padding: 2px;
	line-height: 1em;
	&-right{

	}
}

@media (min-width: $screen-sm-min) {
	.form_group{
		padding: 0;
		margin: 0 6px;
		float: left;
		width: auto;
		.btn{
			float: left;
			// padding: 6px 8px;
		}
		&-party{
		}
		&-action{
			float: right;
		}
		&-partyComp{
			width: 100%;
			padding: 0 5px;
			margin: 0;
		}
	}

	.group_item{
		float: left;
		&-select{
			width: 150px;
			-webkit-apperance: none;
		}
		&-description{
			display: none;
		}
	}

	.form_group-suffix{
		.group_item{
			&-suffix{
				display: inline-block;
				float: right;
				width: auto;
			}
		}
	}

	.form-control.form-control-ticket{
		width: 120px;
	}
	input.form-control.form-control-date{
		width: 80px;
	}
	.form-control.form-control-nights{
		width: 80px;
	}
}

// @media (max-width: $screen-xs-max){
// 	.form-booking{
// 		.container{
// 			margin: 0;
// 			padding: 0;
// 			width: 100%;
// 		}
// 	}
// }
