.navbar-header{
	z-index: 2;
}

.navbar{
	background-color: rgb(189, 29, 29);
	border: none;
}

.offcanvas .navbar{
	background-color: darken(rgb(189, 29, 29), 10%);
}

.navbar_section{
	height: 50px;
	float: left;
	text-align: center;
	.btn{
		color: white;
		font-family: 'Grilled Cheese';
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 1.2em;
	}
}

.navbar_section-menu{
	width: 25%;
}

.navbar_section-book{
	width: 25%;
}

.navbar_section-logo{
	height: 50px;
	width: 50%;
	img{
		-webkit-transition: 0.8s;
		transition: height 0.8s;
		height: 110px;
	}
	&.small img{
		height: 60px;
	}
}

.navbar_border-right{
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar_border-left{
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.offcanvas{
	position: fixed;
	z-index: 1001;
	width: 100%;
	height: 100%;
	top: 0;
	font-size: 1.15em;
	-webkit-transition: -webkit-transform 0.4s;
	transition: 0.4s;
	background: #fbfbfb;

	&-left{
		width: auto;
		height: auto;
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
		&.active{
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
	&-right{
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
		&.active{
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			box-shadow: -10px 0px 25px 0px rgba(0,0,0,0.5);
		}
	}
}

.offcanvas_level{
	position: fixed;
	z-index: 1002;
	width: 91%;
	height: 100%;
	top: 0;

	-webkit-transition: 0.4s;
	transition: 0.4s;

	background: #fafafa;

	-webkit-transform: translate3d(120%,0,0);
	transform: translate3d(120%,0,0);
	
	&.active{
		-webkit-transform: translate3d(10%,0,0);
		transform: translate3d(10%,0,0);

		box-shadow: -10px 0px 25px 0px rgba(0,0,0,0.5);
	}
}

@media (min-width: $screen-sm-min) {
	.navbar_section-book{
		float: right;
		width: 15%;
		.btn{
			height: 100%;
			width: 100%;
			margin: 0;
		}
	}
	.navbar_section-menu{
		display: none;
	}
	.navbar_section-logo{
		float: left;
		width: 20%;
	}
	.offcanvas{
		height: auto;
		.navbar{
			display: none
		}
	}
	.offcanvas-right{
		padding: 10px 0;
		z-index: 1;
		height: 50px;
		-webkit-transform: translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0);
		&.active{
			-webkit-transform: translate3d(0,50px,0);
			transform: translate3d(0,50px,0);
			box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
		}
	}
	.offcanvas_level{
		-webkit-transform: translate3d(400px,-400px,0);
		transform: translate3d(400px,-400px,0);
		box-shadow: none;
		&.active{
			-webkit-transform: translate3d(400px,50px,0);
			transform: translate3d(400px,50px,0);
			box-shadow: none;
		}
	}
	.offcanvas_booking{
		position: relative;
		background: white;
		padding: 10px 0;
		&.active{
			-webkit-transform: translate3d(0, 50px, 0);
			transform: translate3d(0, 50px, 0);
		}
	}
	.offcanvas_level-datepicker{
		-webkit-transform: translate3d(150px,-400px,0);
		transform: translate3d(150px,-400px,0);
		width: 300px;
		&.active{
			-webkit-transform: translate3d(150px,50px,0);
			transform: translate3d(150px,50px,0);
		}
	}
	.offcanvas_level-partyComp{
		width: 300px;
		position: absolute;
		height: auto;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		.container{
			width: auto;
			padding: 0;
			margin: 0;
		}
	}
	.navbar-links{
		position: fixed;
		background: transparent;
		margin-top: 10px;
		margin-left: 15%;
		margin-right: 20%;
		transform: none;
		.navbar{
			display: none;
		}
		li{
			float: left;
			margin-left: 3vw;
			list-style-type: none;
			background: transparent;
			color: white;
			a{
				color: white;
				font-family: 'Grilled Cheese';
				text-transform: uppercase;
			}
		}
	}
}

