.tile{

}

.tile-promo{
	position: relative;
	height: 80vh;
	background-image: url('http://www.chessington.com/images/homepage/features/large/azteca-hotel-summit-room-2015-offer-v2.jpg');
	&2{
		background-image: url('http://www.chessington.com/images/homepage/features/large/zoo-days.jpg');
	}
}

.tile_cta{
	position: absolute;
	white-space: normal;
	bottom: 20px;
	margin: 0 auto;
	left: 15%;
	width: 70%;
	color: white;
	font-family: 'Grilled Cheese';
	text-transform: uppercase;
}

.btn-primary{
	border: 2px solid white;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.32);
	&:after{
		float: right;
		line-height: 0.5em;
		font-family: "FontAwesome";
		font-weight: normal !important;
		font-size: 36px;
		content: "\f105";
	}
}

.tile-usp{
	text-align: center;
	color: $textBlack;
}

.tile_item-usp{
	padding: 10px 0;
	border-top: 1px solid $grey400;
	&Header{
		padding: 5px 0;
	}
}

.tile_item{
	margin-bottom: 15px;
}

.tile-container{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0 15px;
}

.item_container{
	background: $lightGreen50;
	position: relative;
	padding: 1px 10px;
}

.raggedBackground{
	background-image: url("http://www.chessington.com/images/common/ragged-mask-top-edge.png"),url("http://www.chessington.com/images/common/ragged-mask-right-edge.png"),url("http://www.chessington.com/images/common/ragged-mask-bottom-edge.png"),url("http://www.chessington.com/images/common/ragged-mask-left-edge.png") !important;
	background-position: top left, top right, bottom left, top left !important;
	background-repeat: repeat-x, repeat-y, repeat-x, repeat-y !important;
}

.item_title{
	text-transform: uppercase;
	color: rgb(189, 29, 29);
}

.item_description{
	width: 100%;
	display: inline-block;
}

.item_image{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40%;
}

@media (min-width: $screen-sm-min) {
	.item_description{
		width: 50%;
		&-full{
			width: 100%;
		}
	}
}